spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:flexlease-notification;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;INIT=CREATE SCHEMA IF NOT EXISTS "notification"
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: "notification"
        format_sql: true
        globally_quoted_identifiers: true
    open-in-view: false
  flyway:
    enabled: true
    schemas: "notification"
    locations: classpath:db/migration
  h2:
    console:
      enabled: true
      path: /h2-console
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
  redis:
    host: ${SPRING_REDIS_HOST:localhost}
    port: ${SPRING_REDIS_PORT:6379}
