spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:flexlease-auth;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;INIT=CREATE SCHEMA IF NOT EXISTS AUTH
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: auth
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    schemas: auth
    locations: classpath:db/migration
  h2:
    console:
      enabled: true
      path: /h2-console
