spring:
  application:
    name: gateway-service
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/v1/auth/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**,/api/v1/admin/users/**,/api/v1/vendors,/api/v1/vendors/*,/api/v1/vendors/*/suspend,/api/v1/vendors/*/commission-profile,/api/v1/vendors/applications/**,/api/v1/customers/profile/**,/api/v1/internal/vendors/**
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/v1/products/**,/api/v1/catalog/**,/api/v1/admin/products/**,/api/v1/vendors/*/products/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/v1/orders/**,/api/v1/admin/orders/**,/api/v1/analytics/**,/api/v1/cart/**,/api/v1/proofs/**,/proofs/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/v1/payments/**,/api/v1/internal/payments/**
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/v1/notifications/**
server:
  port: ${SERVER_PORT:8080}
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://registry-service:8761/eureka}
  instance:
    prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: health,info
